
.images{
    width: 80vh;
    height: 80vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.about{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
.about-collage{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.section{
    margin: 4em;
    margin-top: 0;
}
.section2{
    margin: 4em;
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
}

@media only screen and (max-width: 600px) {
    .about{
        flex-wrap: wrap;
    }
}